
$darkNavy: #0B1016;
$border-width: 2.5px;
$border-radius: .8rem;

$theme-colors: (
  "primary": $darkNavy,
  "dark": $darkNavy,
);


html {
  
/*   Global Styles*/  
body { 
  font-family: 'Exo 2', sans-serif !important;

  h1 {
    font-size: 3em;

    @media (min-width: 768px) {
      font-size: 3.5em;
    }
  }

  p:not(.blockquote){
    font-size: 1.1em;
    line-height: 1.9;

    @media(min-width: 768px){
      font-size: 1.4em;
    }
    
  }

  .hero-jumbotron {
    background-image: url(../images/star-streaks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    h1, h2, h3, h4, h5, h6, p {
        color: white;
    }

    .header-text {
      font-size: 1.2em;
      @media (min-width: 768px) {
        font-size: 1.5em;
        /* font-weight: bold; */
      }
    }
  } /* End Jumbotron Styles */

  /* SVG Divider Styles*/
  //top divider
  .custom-shape-divider-top-1601254226 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1601254226 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-top-1601254226 .shape-fill {
    fill: #FFFFFF;
  }

  // bottom divider 
  .custom-shape-divider-bottom-1601254498 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1601254498 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-bottom-1601254498 .shape-fill {
    fill: #FFFFFF;
  }

  .divider-text-div {
    min-height: 400px;
  }

  .divider-text-div {
    
    h1, h2, h3, h4, h5, h6, p {
      color: white;
    }

    h1 {
      font-size: 1.8em;

      @media (min-width: 360px) {
        font-size: 2em;
      }

      @media (min-width: 768px) {
        font-size: 3.5em;
      }
    }

    h2 {
      font-size: 1.4em;
  
      @media (min-width: 768px) {
        font-size: 1.9em;
      }
    }
  }
} /* End Global Styles */

  /* Home Page Styles */
  #home-page {
    .reasons {
      .reasons-heading {
        font-size: 1.6em;

      }
      .reasons-text {
        font-size: 1.3em;
        line-height: 1.5;

      }
    }
    .blockquote {
      p {
      font-weight: bold;
      font-size: 1.1em;
      line-height: 1.5;

      }
      .blockquote-footer {
        font-weight: bold;
        
      }
    }
    
  } /* End Home Styles */

  /* About Me Page Styles*/
  #about-me-page {
    

  } /* End About Styles */

  /* Contact Page Styles*/
  #contact-page {
    #contact-divider-text-heading {
     
        font-size: 1.5em;
    
        @media (min-width: 360px) {
          font-size: 2em;
        }
    
        @media (min-width: 768px) {
          font-size: 3.5em;
        }
      }

      #contact-divider-text-subheading {
        font-size: 1.2em;
    
        @media (min-width: 360px) {
          font-size: 1.4em;
        }

        @media (min-width: 768px) {
          font-size: 1.9em;
        }
    
      }
    

    //1.2 h2

    .line-container {
      width: 15%;
      max-width: 100px;

      .line {
        width: 90%;
        height: 2px;
        
      }
    }
    
    #find-me-text {
      font-size: 1.1em;
    
      @media(min-width: 576px) {
        font-size: 1.4em;
      }
    }
  } /* End Contact Styles */

}

@import "../bootstrap-4.5.3/scss/bootstrap.scss"
